<br/>
<div class="well">
  <div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
      <li>
        <%= link_to admin_users_path do %>
          <span class="glyphicon glyphicon-user"></span>
          <span class="glyphicon-class">Patient Lookup</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_appointment_types_path do %>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="glyphicon-class">Appointment Types</span>
        <% end %>
      </li>
      <li>
        <%= link_to nil do %>
          <span class="glyphicon glyphicon-cog"></span>
          <span class="glyphicon-class">Application Settings</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
