<h3>Your appointment is confirmed for <%= @appointment.start.in_time_zone('Eastern Time (US & Canada)').strftime('%A, %b %d at %l:%M %P') %>!</h3>

<% if @appointment.user.appointment_reminder_email %>
<p>You will receive a reminder email 1 day prior to your appointment.</p>
<% end %>

<p>Thank you very much!</p>
