<div class="modal-header">
  <h3 class="modal-title" ng-if="!closing">
    <span ng-if="appointment.id">View</span>
    <span ng-if="!appointment.id">Make</span>
    Appointment
  </h3>
  <h3 class="modal-title" ng-if="closing">
    Closings
  </h3>
</div>
<ng-form name="form" class="modal-body appointment-modal">
  <div ng-if="closing">
    <div class="form-group row">
      <div class="col-md-4 text-right">
        <label>On date:</label>
      </div>
      <div class="col-md-8 side-padding input-group date">
        <input ng-model="date" type="text" class="form-control" data-date="true" ng-change="setDate('closing', 'date')"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right start">
        <label for="new_closing_date">Time:</label>
      </div>
      <div class="col-md-8">
        <timepicker class="pull-left" id="new_closing_date" ng-model="closing.date" hour-step="1" minute-step="10" readonly-input="true" ng-change="allDay = false"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right">
        <label for="new_closing_date">Duration:</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input ng-model="closing.duration" type="number" class="form-control" ng-max="24" ng-min="1" ng-change="allDay = false" />
          <span class="input-group-addon">Hours</span>
        </div>
      </div>
      <div class="col-md-4">
        <input type="checkbox" ng-model="allDay" id="allDay" ng-click="allDayClosing()"/>
        <label for="allDay">All Day</label>
      </div>
    </div>
  </div>
  <div ng-if="!closing">
    <div class="form-group row">
      <div class="col-md-4 text-right">
        <label>Appointment for:</label>
      </div>
      <div class="col-md-8">
        <span ng-if="user.isPatient()" class="pull-left">{{user.display}}</span>
        <span ng-if="user.isStaffOrAdmin()" class="">
          <user-selection appointment="appointment">
          </user-selection>
        </span>
        <span ng-if="user == null" class="pull-left">
          <a href="/users/sign_in">Login</a> or <a href="/users/sign_up">Sign up</a>!
        </span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right">
        <label>On date:</label>
      </div>
      <div class="col-md-8 side-padding input-group date">
        <input ng-model="start" type="text" class="form-control" data-date="true" ng-change="setDate('appointment', 'start')"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="form-group row" ng-if="user != null">
      <div class="col-md-4 text-right">
        <label for="new_appointment_type_id">Type of visit:</label>
      </div>
      <div class="col-md-8">
        <select ng-init="appointment.appointmentTypeId = appointment.appointmentTypeId || types[0].id" class="pull-left form-control" id="new_appointment_type_id2" ng-model="appointment.appointmentTypeId" ng-options="type.id as type.name for type in types"/>
      </div>
    </div>
    <div class="form-group row" ng-if="user != null">
      <div class="col-md-4 text-right start">
        <label for="new_appointment_start">Start:</label>
      </div>
      <div class="col-md-8">
        <timepicker class="pull-left" id="new_appointment_start" ng-model="appointment.start" hour-step="1" minute-step="10" readonly-input="true"/>
      </div>
      <div class="alert alert-danger" ng-if="appointmentErrors" style="width: 90%;margin-left: 20px;">
        Time {{appointmentErrors.start[0]}}
      </div>
    </div>
  </div>
</ng-form>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-if="user != null" ng-click="remove()" ng-show="(appointment || closing).id && (user.isStaffOrAdmin() || appointment.user.id == user.id)">Remove</button>
  <span title="Please login or sign up!" data-toggle="{{user == null && !closing ? 'tooltip' : null}}" data-placement="top" style="display: inline-block;margin-right: 5px;">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="user == null || form.$invalid">OK</button>
  </span>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
