<div class="modal-header">
  <h3 class="modal-title" ng-if="!closing">
    <span ng-if="appointment.id != 'new'">View</span>
    <span ng-if="appointment.id == 'new'">Make</span>
    Appointment
  </h3>
  <h3 class="modal-title" ng-if="closing">
    Closings
  </h3>
</div>
<form name="form" class="modal-body appointment-modal form-horizontal">
  <div ng-if="closing">
    <div class="form-group">
      <label class="text-right col-md-3 control-label">On date:</label>
      <div class="col-md-9 side-padding input-group date">
        <input ng-model="date" type="text" class="form-control" data-date="true" ng-change="setDate('closing', 'date')"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label for="new_closing_date" class="text-right start col-md-3 control-label">Time:</label>
      <div class="col-md-9">
        <timepicker class="pull-left" id="new_closing_date" ng-model="closing.date" hour-step="1" minute-step="10" readonly-input="true" ng-change="allDay = false"/>
      </div>
    </div>
    <div class="form-group">
      <label for="new_closing_date text-right col-md-3 control-label">Duration:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input ng-model="closing.duration" type="number" class="form-control" ng-max="24" ng-min="1" ng-change="allDay = false" />
          <span class="input-group-addon">Hours</span>
        </div>
      </div>
      <div class="col-md-4">
        <input type="checkbox" ng-model="closing.all_day" id="allDay" ng-click="allDayClosing()"/>
        <label for="allDay">All Day</label>
      </div>
    </div>
    <div class="form-group">
      <label for="new_closing_date" class="text-right col-md-3 control-label">Description:</label>
      <div class="col-md-9">
        <input ng-model="closing.desc" type="text" class="form-control" />
      </div>
    </div>
  </div>
  <div ng-if="!closing">
    <div class="form-group" ng-if="appointment.id != 'new' && editable()">
      <h3><span class="label label-warning">To reschedule this appointment, change the start time below.</span></h3>
    </div>
    <div class="form-group" ng-if="appointment.id != 'new' && !editable()">
      <h3><span class="label label-info">This is a historic appointment and it cannot be modified.</span></h3>
    </div>
    <div class="form-group">
      <label for="new_appointment_type_id" class="text-right col-md-3 control-label">Type of visit:</label>
      <div class="col-md-9">
        <select ng-init="appointment.appointmentTypeId = appointment.appointmentTypeId || appointment_types[0].id" ng-change="type_changed()" class="pull-left form-control" ng-model="appointment.appointmentTypeId" ng-options="type.id as type.name for type in appointment_types"/>
      </div>
    </div>
    <div class="form-group" ng-if="type_for(appointment.appointmentTypeId).group">
      <label for="group_members_attributes" class="text-right col-md-3 control-label">Family Members:</label>
      <div class="col-md-9">
        <button class="pull-right btn btn-primary" ng-click="add_member(); setDate('appointment', 'start');">
          <i class="glyphicon glyphicon-plus"/>
        </button>
        <div class="form-group" ng-repeat="member in appointment.groupMembersAttributes" ng-if="member._destroy != true">
          <div ng-include="'appointments/editor/group_members.html'"/>
          <button class="btn btn-danger" ng-click="member._destroy = true; setDate('appointment', 'start');">
            <i class="glyphicon glyphicon-minus"/>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-right col-md-3 control-label">On date:</label>
      <div class="col-md-9 side-padding input-group date">
        <input ng-model="start" type="text" readonly="true" class="form-control" data-date="true" ng-change="setDate('appointment', 'start')"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label for="new_appointment_start" class="text-right start col-md-3 control-label">Start:</label>
      <div class="col-md-3 col-md-offset-1">
        <timepicker class="pull-left" id="new_appointment_start" ng-model="appointment.start" hour-step="1" minute-step="10" readonly-input="true" ng-change="setDate('appointment', 'start')"/>
      </div>
      <div class="alert alert-danger" ng-if="appointmentErrors.start" style="width: 90%;margin-left: 35px;">
        Time {{appointmentErrors.start[0]}}
      </div>
      <div id="preview-calendar" class="col-md-4">
      </div>
    </div>
    <div class="form-group">
      <label class="text-right col-md-3 control-label">Appointment for:</label>
      <div class="col-md-9">
        <span ng-if="user.isPatient()" class="pull-left">{{user.display || (user.first + " " + user.last)}}</span>
        <span ng-if="user.isStaffOrAdmin()" class="">
          <user-selection appointment="appointment">
          </user-selection>
        </span>
        <span ng-if="user == null">
          <div class="appointment-login">
            <a href="/users/sign_in" class="btn btn-primary" target="_self">
              Login
            </a>
          </div>
          <div class="appointment-signup">
            <button class="btn btn-primary" ng-click="newUser()">
              Sign Up <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </span>
      </div>
    </div>
  </div>
</ng-form>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-if="user != null && editable() && appointment.id != 'new'" ng-click="remove()" ng-show="(appointment || closing).id != 'new' && (user.isStaffOrAdmin() || appointment.user.id == user.id)">Delete Appointment</button>
  <button class="btn btn-info pull-left" ng-if="appointment.id != 'new'" ng-click="newFromExisting(appointment)" ng-show="(appointment || closing).id != 'new' && (user.isStaffOrAdmin() || appointment.user.id == user.id)">New Appointment From Existing</button>
  <span ng-if="editable()" title="{{user == null && !closing ? 'Please login or sign up!' : ''}}" data-toggle="{{user == null && !closing ? 'tooltip' : null}}" data-placement="top" style="display: inline-block;margin-right: 5px;">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="user == null || form.$invalid">Schedule</button>
  </span>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>
