<div class="modal-header">
  <h3 class="modal-title">Make Appointment</h3>
</div>
<div class="modal-body appointment-modal">
  {{appointment}}
  <div class="row">
    <div class="col-md-6 text-right">
      <label>Appointment for:</label>
    </div>
    <div class="col-md-6">
      <span class="pull-left">{{appointment.user.display}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">
      <label for="new_appointment_type_id">Type of visit:</label>
    </div>
    <div class="col-md-6">
      <select class="pull-left" id="new_appointment_type_id" ng-model="appointment.appointmentTypeId" ng-options="type.id as type.name for type in types"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right start">
      <label for="new_appointment_start">Start:</label>
    </div>
    <div class="col-md-6">
      <timepicker class="pull-left" id="new_appointment_start" ng-model="appointment.start" hour-step="1" minute-step="10" readonly-input="true"/>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
