
/********************************************
   HTML ELEMENTS
********************************************/

/* top elements */
* { padding: 0; margin: 0; }

body#washington-travel {
	margin: 0;
	padding: 0;
	// font: .70em/1.5em  Verdana, Tahoma, Helvetica, sans-serif;
	color: #333;
	background: #A9BAC3 url(image-path('bg.gif')) repeat-x;
	text-align: center;
	letter-spacing:.03em;
}


/* links */
a {
	color: #4284B0;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #9EC068;
	background-color: inherit;
}

h7 {
	position:absolute;
	left:20px;
	top:10px;
}

/* headers */
body#washington-travel #header #logo {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	color: #6297BC;
}

h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	color: #333;
}
h4 {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	color: #9EC630;
}
h1 { font-size: 1.5em; color: #6297BC; }
h2 { font-size: 1.4em; text-transform:uppercase;}
h3 { font-size: 1.3em; }
h4 { font-size: 1.5em; }

p, h1, h2, h3, h4 {
	margin: 10px 15px;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;
	color: #333;
}
ul span, ol span {
	color: #666666;
}

/* images */
img {
	border: 2px solid #CCC;
}
img.no-border {
	border: none;
}
img.float-right {
  margin: 5px 0px 5px 15px;
}
img.float-left {
  margin: 5px 15px 5px 0px;
}
a img {
  border: 2px solid #568EB6;
}
a:hover img {
  border: 2px solid #CCC !important; /* IE fix*/
  border: 2px solid #568EB6;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;
  border-left: 4px solid #4284B0;
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
 	padding: 0 0 0 20px;
  	background: #FAFAFA;
	border: 1px solid #f2f2f2;
	border-left: 4px solid #4284B0;
	color: #4284B0;
	font: bold 1.2em/1.5em Georgia, 'Bookman Old Style', Serif;
}

/* form elements */
form {
	margin:10px; padding: 0;
	border: 1px solid #f2f2f2;
	background-color: #FAFAFA;
}
label {
	display:block;
	margin:5px 0;
}
input {
	padding: 2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	width:300px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button {
	margin: 0;
	font: bold 1em Arial, Sans-serif;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 2px 3px;
	color: #4284B0;
}

/* search form */
form.searchform {
	background: transparent;
	border: none;
	margin: 0; padding: 0;
}
form.searchform input.textbox {
	margin: 0;
	width: 120px;
	border: 1px solid #9EC630;
	background: #FFF;
	color: #333;
	height: 14px;
	vertical-align: top;
}
form.searchform input.button {
	margin: 0;
	padding: 2px 3px;
	font: bold normal 12px/normal Arial, Sans-serif;
	background: #FAFAFA;
	border: 1px solid #f2f2f2;
	color: #777;
	width: 60px;
	vertical-align: top;
	text-transform: none;
	text-decoration: none;

}

/***********************
	  LAYOUT
************************/
#wrap {
	background: #FFF;
	width: 1100px; height: 100%;
	margin: 0 auto;
	text-align: left;
}
#content-wrap {
	clear: both;
	margin: 0; padding: 0;
	background: #FFF;
}
#globe {
position: relative;
left: 20px;
top: 55px;
}
/* header */
body#washington-travel {
	#header {
		position: relative;
		height: 85px;
		background: #000 url(image-path('headerbg.gif')) repeat-x 0% 100%;
	}
	#header h1#logo {
		position: absolute;
		margin: 0; padding: 0;
		font: bolder 46px 'Trebuchet MS', Arial, Sans-serif;
		letter-spacing: -2px;
		text-transform: lowercase;
		top: 0; left: 5px;
	}
}
#header h2#slogan {
	position: absolute;
	top:17px; left: 535px;
	color: #666666;
	text-indent: 0px;
	font: bold 12px Tahoma, 'trebuchet MS', Sans-serif;
	text-transform: none;
}
#header form.searchform {
	position: absolute;
	top: 0; right: -12px;
}


/* main */
#main {
	float: left;
	margin-left: 15px;
	padding: 0;
	// width: 50%;
	width: 100%;
}

#main2 {
	float: left;
	margin-left: 20px;
	padding: 0;
	width: 100%;
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin: 20px 15px 0 15px;
	border: 1px solid #f2f2f2;
	font-size: 95%;
}
// .post-footer .date {
// 	background:  url(image-path('clock.gif')) no-repeat left center;
// 	padding-left: 20px; margin: 0 10px 0 5px;
// }
// .post-footer .comments {
// 	background:  url(image-path('comment.gif')) no-repeat left center;
// 	padding-left: 20px; margin: 0 10px 0 5px;
// }
// .post-footer .readmore {
// 	background:  url(image-path('page.gif')) no-repeat left center;
// 	padding-left: 20px; margin: 0 10px 0 5px;
// }

.faqs	{
	cursor:pointer;
	line-height:20px;
}
.faqs1	{
	font-weight:bold;
	color:#333;
}

.faqs2	{
	padding-left:20px;
	color:#333;
}



/* sidebar */
#sidebar {
	float: left;
	width: 23%;
	margin: 0;	padding: 0;
	display: inline;
}
#sidebarad {
	float: right;
	width: 80%;
	margin: 0;	padding: 0;
	display: inline;
}

#sidebar ul.sidemenu {
	list-style:none;
	margin:10px 0 10px 15px;
	padding:0;
}
#sidebar ul.sidemenu li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}
#sidebar ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #333;
	text-decoration:none;
	padding:2px 5px 2px 10px;
	background: #f2f2f2;
	border-left:4px solid #CCC;
	min-height:18px;
}

* html body #sidebar ul.sidemenu a { height: 18px; }

#sidebar ul.sidemenu a:hover {
	padding:2px 5px 2px 10px;
	background: #f2f2f2;
	color: #339900;
	border-left:4px solid #9EC630;
}

/* rightbar */
#rightbar {
	float: right;
	width: 23%;
	padding: 0; margin:0;
}

/* Footer */
#footer {
	clear: both;
	color: #FFF;
	background: #A9BAC3;
	border-top: 5px solid #568EB6;
	margin: 0; padding: 0;
	height: 50px;
	font-size: 95%;
}
#footer a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
#footer .footer-left{
	float: left;
	width: 65%;
}
#footer .footer-right{
	float: right;
	width: 35%;
}

/* menu tabs */
#header ul {
	z-index: 9;
	position: absolute;
   margin:0; padding: 0;
   list-style:none;
	right: 0;
	bottom: 6px !important; bottom: 5px;
	font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(image-path('tableft.gif')) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   background: url(image-path('tabright.gif')) no-repeat right top;
   padding:6px 15px 3px 8px;
   color: #FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -42px;
}
#header a:hover span {
   background-position:100% -42px;
}
#header #current a {
   background-position:0% -42px;
	color: #FFF;
}
#header #current a span {
   background-position:100% -42px;
	color: #FFF;
}

#screenshot{
	position:absolute;
	border:none;
	background: #fff;
	display:none;
	color:#fff;
}

button.punch {
  background: #6297BC;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font-size-adjust:inherit;
  font-weight:bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
  line-height: 1;
  margin-bottom: 10px;
  padding: 8px 1px 5px 1px;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 125px;
  height:40px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 3px; }

#tooltip{
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	display:none;
	}
/* end menu tabs */

/* alignment classes */
.float-left  { float: left; }
.float-right {	float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.green {	color: #9EC630; }
.blue {color: #6297BC; }
.gray  {	color: #BFBFBF; }
.button {  color: #6297BC}
.redstar {color:#F00; font-weight:bold;}

/*
	author: istockphp.com
*/
#backgroundPopup {
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;
	top:0px;
	left:0px;
}
#toPopup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}
// div.loader {
//     background: url(image-path('loading.gif')) no-repeat scroll 0 0 transparent;
//     height: 32px;
//     width: 32px;
// 	display: none;
// 	z-index: 9999;
// 	top: 40%;
// 	left: 50%;
// 	position: absolute;
// 	margin-left: -10px;
// }
// div.close {
//     background: url(image-path('closebox.png')) no-repeat scroll 0 0 transparent;
//     bottom: 24px;
//     cursor: pointer;
//     float: right;
//     height: 30px;
//     left: 27px;
//     position: relative;
//     width: 30px;
// }
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}
