#main {
  div.inline-label label {
    display: inline;
  }
}

#washington-travel {
  .ng-invalid:not(ng-form, form) {
    border: 1px solid red;
  }
  .form-control[readonly] {
    cursor: pointer;
  }
}

// Unsure why this is needed
.form-group.form-group-lg .input-group.date {
  padding-right: 15px;
  padding-left: 15px;
}
.form-horizontal {
  .input-group-btn button {
    margin-top: -1px;
  }
}
