#main {
  div.inline-label label {
    display: inline;
  }
}

// Unsure why this is needed
.form-group.form-group-lg .input-group.date {
  padding-right: 15px;
  padding-left: 15px;
}
.form-horizontal {
  .input-group-btn button {
    margin-top: -1px;
  }
}
